body{
    background-image: url(backone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(to right, #d5dcd5, #d5b8b8, #b8b5b0); */
    align-items: center;
    text-align: center;
    color: white;
}

a{
    color: white;
    padding: 10px;
}
button {
    color: rgb(185, 11, 144);
    background-color: aqua;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

input{
    width: 60vw;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid green;
    margin-bottom: 20px;
}